img {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}
h2 {
  color: #3e585f;
}
h3 {
  color: #ef6c00;
}
p {
  color: gray;
}
.cards {
  border-radius: 5px;
  margin-top: 1em;
  border: 1px solid #3e585f;
  padding: 1em;
}
